<link rel="stylesheet" href="/views/funcionalidad_styles/gestion-estadisticas.css">
<div class="estadisticas-container"></div>
    <h2>Estadísticas Generales</h2>
    
    <div class="graficos-container">
        <div class="grafico">
            <canvas id="usuariosChart"></canvas>
        </div>
        <div class="grafico">
            <canvas id="citasChart"></canvas>
        </div>
        <div class="grafico">
            <canvas id="especialidadesChart"></canvas>
        </div>
    </div>

    <div id="resumen-estadisticas">
        <!-- Aquí se insertará dinámicamente el resumen de estadísticas -->
    </div>
</div>